<app-header-user></app-header-user>

<!-- Page Content -->
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">¡Pago realizado con éxito!</h1>
    <p class="lead">
      Gracias por confiar en Esportiba. Tu pedido ha sido procesado
      correctamente.
    </p>
    <a routerLink="/" class="primary-btn">Volver al inicio</a>
  </header>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Esportiba 2025
    </p>
  </div>
  <!-- /.container -->
</footer>
